.create-notes-header{
    margin: 30px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.create-notes-form{
    width: max-content;
    margin:0 auto;
}
.create-notes-form-textarea{
    height: 200px;
    width: 600px;
    font-size: 20px;
   
}

.create-notes-form-author{
 width: 100%;
 font-size: 20px;

}


.create-notes-form-button{

    background-color: rgba(14, 69, 221, 0.979);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color:white;
    padding: 3px;
    margin-top: 5px;
    cursor: pointer;  
    transition: 0.5s;  
  
}

.create-notes-form-button:hover{
    background-color: rgb(5, 49, 168);
    
   

}

.create-notes-form-button:active{
    transform: scale(0.8);

}





